@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Home">首页</a></li>
    <li class="active">学习汇报</li>
</ul>
<h2>学习汇报</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">做题统计</h3>
    </div>
    <div class="panel-body">
        您一共做：@ViewData["llist"] 题！
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">结果统计</h3>
    </div>
    <div class="panel-body">
        <p>您做对：@ViewData["tlist"]题！</p>
        <p>您做错：@ViewData["flist"]题！</p>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">信息统计</h3>
    </div>
    <div class="panel-body">
        您一共发送信息量:@ViewData["mlist"]条!
    </div>
</div>