@{
    ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EnglishClass.Models;
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/banner.png" alt="First slide">
            </div>
            <div class="item">
                <img src="~/Images/banner.png" alt="Second slide">
            </div>
            <div class="item">
                <img src="~/Images/banner.png" alt="Third slide">
            </div>
        </div>
      
        </div>
<h3>[推荐视频]</h3>
    <div class="row">
        @foreach (tb_Video item in Model)
        {
            <div class="col-md-4">
                <h3>@item.VName</h3>
                <p>
                 @item.Remake
                </p>
            </div>
        }
    </div>
